html {
  background: #e6ecf0;
}

body {
  margin: 0;
  padding-top: 10px;
  font-family: "Segoe UI",Arial,sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}
